/* Styles go here */

* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma;
  color:#4350A9;
}

header {
  background-color: lightgreen;
  padding: 10px;
}

.student-contributor {
  color:green;
  background-color: yellow;
  font-size:48px;
}